body {
  font-family: Arial, Helvetica, sans-serif;
}
main {
  margin: 0 -8px !important;
}

.navigation {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.page-title {
  font-size: 1.5em;
  font-weight: bold;
}

.nav {
  display: flex;
}

.nav-item {
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.nav-item:hover {
  background: rgb(225, 225, 225);
}

.content {
  padding: 0 30px;
  display: flex;
}

.content-title {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-left {
  flex-grow: 1;
  margin: 50px 0;
  padding: 0 20px;
}

.content-image {
  box-sizing: border-box;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: grey;
  font-size: 14pt;
}

.content-image img {
  max-height: 460px;
  max-width: 100%;
  margin-bottom: 20px;
}

.auto-slide {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.content-provid-user {
  display: flex;
  padding-left: 30px;
  margin: 50px 0;
  align-items: center;
}

.content-provid-user img {
  border-radius: 50%;
  background: rgb(228, 228, 228);
  padding: 5px;
  margin-right: 20px;
}

.user-name {
  font-weight: bold;
}

.user-info {
  font-style: italic;
  color: grey;
  font-size: small;
}

.content-informations {
  display: flex;
  flex-direction: column;
}

.content-informations p {
  font-weight: bold;
}

.content-benefit {
  display: flex;
  align-items: center;
  padding-right: 50px;
  margin-bottom: 10px;
  font-size: 11pt;
}

.circle-number {
  width: 20px !important;
  min-width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  padding: 10px;
  font-size: 12pt;
  text-align: center;
  background: rgb(228, 228, 228);
  margin-right: 30px;
}

.content-right {
  flex: 50%;
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.content-form {
  max-width: 15em;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: lightgray;
}

.content-form p {
  color: grey;
  margin-bottom: 10px;
}

input {
  margin-bottom: 20px;
  padding: 8px 2px;
}

select {
  padding: 8px 2px;
}

option:first-of-type {
  color: rgb(158, 158, 158);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background: rgb(0, 0, 98);
  font-weight: bold;
  color: white;
  padding: 10px 0;
  margin: 20px 0;
  cursor: pointer;
}

.button:hover {
  background: rgb(0, 0, 201);
}

.warning {
  color: red;
  margin: 10px 0;
  font-size: 9pt;
  font-weight: bold;
  font-style: italic;
}

.highlight {
  background: rgb(255, 213, 220);
}

.success {
  color: green;
}

.pakage-heading {
  padding: 30px 0;
  background: rgb(234, 234, 234);
  text-align: center;
  margin: 50px 0;
}
.pakage {
  display: flex;
  justify-content: center;
}

.pakage-list {
  display: flex;
  justify-content: center;
  width: 15em;
  margin: 10px;
  text-align: center;
}

.pakage-list img {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  background: rgb(228, 228, 228);
  padding: 5px;
  margin-right: 15px;
}

.pakage-list span {
  font-size: 10pt;
  text-align: left;
  color: grey;
}

.pakage-list span div {
  font-size: 12pt;
  font-weight: bold;
  text-align: left;
  color: black;
  margin-top: 0.3em;
}

footer {
  padding: 0 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 11pt;
}
.action {
  width: 250px;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .navigation {
    flex-direction: column;
    padding: 20px 0;
  }

  .nav {
    justify-content: center;
    margin-top: 20px;
  }

  .content {
    flex-direction: column;
    justify-content: center;
  }

  .content-image {
    padding: 0;
  }

  .pakage {
    flex-direction: column;
    align-items: center;
  }

  footer {
    padding: 2em;
  }
}
